@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}


/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
legend {
    display: none;
}
/************End Reset**************/

/************Global**************/
/*1em = 16px*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    /*height: 60px;*/
    background: red;
    position: fixed;
    top: 0;
}

#content {
    width: 100%;
    margin: 0 auto;
    /*padding: 60px 0;*/
}

footer {
    width: 100%;
    /*height: 60px;*/
    /*background: red;*/
    position: fixed;
    bottom: 0;
}

.clickable{
  cursor: pointer;
  color: red;
}

/************ navigation tabs**************/
ul {
    margin: 0;
    padding: 0;
    width:100%;
}
li {
    list-style-type: none;
}

#nav {
    display: table;
    table-layout: fixed;
    text-align: center;
}
#nav li {
    display: table-cell;
    width: 50%;
    padding-right: 1px;
    height: auto;
    font-size: 20px;
    vertical-align: bottom;
    background-color: white;
    border: none;
}
#nav a {
    display: block;
    min-height: 50%;
    padding: 4px 10px;
    background-color: yellow;
    color: white;
    border-radius: 6px 6px 0 0;
}

/************ end navigation tabs**************/

form {
  position: relative;
  width: 21%;
  margin: 0 auto;
  padding:10px;

}



/************ styling list tracks**************/
#result ul{

    background-color: #584f4d;
    border:none;
    padding: 0;
    margin: 0;
}

#searchterm {
    margin: 10px;
}

label {
    width: 50%;
}

li {

    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    /*letter-spacing: .05em;*/
    list-style-type: none;
    /*text-shadow: 2px 2px 1px #9f593f;*/
    height: 30px;
    /*padding-left: 1em;*/
    /*padding-top: 5px;*/
    padding:5px;
    background-color: #1F1C1B;
    color: #fff;
    /*text-shadow: 2px 2px 1px #51290D;*/
    border-top: 1px solid #282D2C;
    border-bottom: 1px solid #0C0D0D;
}

/************ end styling list tracks**************/

#listTracks {
  display: none;
}
/*#searchContent {
  position: absolute;
}*/
#searchBar {
  position:fixed;
  z-index: 9;
  top:40px;
  width: 100%;
  height:50px;
  background-color: black;

}


/************ end result list**************/



/************ audioPlayer **************/
/*#audioPlayer {
    background-color: darkorange;
    z-index: 999;
    width: 100%;
    bottom: 0;
}*/

.controls{
    border: none;
    background-color: red;
    z-index: 999;
    width: 100%;
    bottom: 0;
    padding:10px 0px;
}




[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

.icon-play:after     { content: "\25b6"; }
.icon-cog:after      { content: "\2699"; }
.icon-cw:after       { content: "\27f3"; }
.icon-location:after { content: "\e724"; }

#aplayer {
  list-style: none;
  text-align: center;

}

#player li {
  /*position: relative;*/
  display: inline-block;
  margin-right: -4px;
}

#player a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  text-decoration: none;
  width: 44px;
  height: 44px;
  position: relative;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px #aaa, inset 0px 1px 1px #fff;
  /*left: 47%;*/
  margin: 0 auto;
}
#player a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
#player li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}


/************ end of audioPlayer **************/
