@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}


/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}
/************End Reset**************/

/************Global**************/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7 url(../images/bg.png) repeat center top;
}

header {
    width: 100%;
    /*height: 60px;*/
    background: red;
    position: fixed;
    top: 0;
}

#content {
    width: 100%;
    margin: 0 auto;
    /*padding: 60px 0;*/
    background: #f7f7f7 url(../images/bg.png) repeat center top;
}

footer {
    width: 100%;
    background: #f7f7f7 url(../images/bg.png) repeat center top;
    /*height: 60px;*/
    /*background: red;*/
    position: fixed;
    bottom: 0;
    border-top:1px solid orange;
    z-index: 999;
}
/************ end globals**************/


/************ navigation tabs**************/
ul {
    margin: 0;
    padding: 0;
    width:100%;
}
li {
    list-style-type: none;
}

#nav {
    display: table;
    table-layout: fixed;
    text-align: center;
}

#nav li {
    display: table-cell;
    width: 50%;
    padding-right: 1px;
    height: auto;
    font-size: 20px;
    vertical-align: bottom;
    background: #f7f7f7 url(../images/bg.png) repeat center top;
    border: none;
}

#nav a {
    display: block;
    min-height: 50%;
    padding: 4px 10px;
    background-color: orange;
    color: white;
    border-radius: 6px 6px 0 0;
    text-decoration: none;
}

#nav a:hover {
  background-color: rgb(226, 155, 24);
}
/************ end navigation tabs**************/

/************ welcomeText**************/
#welcomeText {
  padding-top:10%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.83);
  width: 70%;
  margin: 0 auto;
  line-height: 200%;
}
/************ end welcomeText**************/

/************ search bar**************/
form {
  position: relative;
  /*width: 21%;*/
  margin: 0 auto;
  padding:10px;

}

#searchBar {
  position:fixed;
  z-index: 9;
  top:40px;
  width: 100%;
  height:80px;
  background: #f7f7f7 url(../images/bg.png) repeat center top;
}

#searchterm {
    outline:none;
    background: #ffffff;
    margin: 10px;
    width: 80px;
    height: 40px;
    /*background: #2b303b;*/
    border-color:transparent;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
   
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}
#searchterm:focus {
  border: 1px solid orange;
}

#buttonSearch {
  width: 80px;
  height: 40px;
  margin: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 background-color: orange;
 border-color:orange;
 
}
#buttonSearch:hover {
  background-color: rgb(226, 155, 24);
}
/************ end search bar**************/

/************ styling list tracks**************/
#result {
  padding-top: 130px;
}

#result ul{
    background-color: #584f4d;
    border:none;
    padding: 0;
    margin: 0;
}

li {
    background: #f7f7f7 url(../images/bg.png) repeat center top;
    border-top: 1px solid #D8E4E1;
    border-bottom: 1px solid #BCBEBE;
    cursor: pointer;
    font-size: 0.8em;
    /*letter-spacing: .05em;*/
    list-style-type: none;
    /*text-shadow: 2px 2px 1px #9f593f;*/
    height: 30px;
    /*padding-left: 1em;*/
    /*padding-top: 5px;*/
    padding:5px;
    /*background-color: #1F1C1B;*/
    color: #323030;
    /*text-shadow: 2px 2px 1px #51290D;*/
    /*border-top: 1px solid #282D2C;
    border-bottom: 1px solid #0C0D0D;*/
    cursor: pointer;
}

#listTracks {
  display: none;
  padding-top: 42px;
}
/************ end styling list tracks**************/


/************ player controls**************/
.controls{
    border: none;
    background: #f7f7f7 url(../images/bg.png) repeat center top;
    z-index: 999;
    width: auto;
    bottom: 0;
    padding: 20px 10px;
    display: inline-block;
}

/*[class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}*/

.icon-play:after     { content: "\25b6"; }

/*.icon-fast-bw:before { content: '\e800'; } 
.icon-to-start:before { content: '\e801'; }  
.icon-play:before { content: '\e802'; } 
.icon-fast-fw:before { content: '\e803'; }*/ 

.info {
  /*float: right;*/
}
#infoButton {
  /*float: right;*/
  border: none;
}
li.info {
  float: right;
  border:none;
  padding-top: 20px;
  padding-right: 15px;
}

#player {
  width: 100%;
  list-style: none;
  text-align: center;
  z-index: 999;
}

#player li {
  /*position: relative;*/
  display: inline-block;
  margin-right: -4px;
}

#player a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  text-decoration: none;
  width: 44px;
  height: 44px;
  position: relative;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px #aaa, inset 0px 1px 1px #fff;
  margin: 0 auto;
}
#player a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
#player li:before {
  content: "";
  display: block;
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;*/
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
/************ end player controls **************/


